// Form input base style
//

.input {
  width: 100%;
  border-width: 0;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include make-transition-all();
  @include make-input-scales();
  @include make-input-styles();
}

// Input group
//

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

// Input icon
//

.input-icon {
  position: relative;
  width: 100%;
  display: inline-block;

  & > .input {
    padding-left: 39px;
  }

  i {
    position: absolute;
    top: 0;
    left: 0;
    color: $gray-light;
    @include make-transition-all();
  }
}

// Form label
//

form label {
  color: $primary-dark;
  display: inline-block;
  margin-bottom: 5px;
}

// Form errors
.form-errors {
    width: 100%;
    margin-bottom: 20px;
    & > span {
      display: block;
      &:before {
        content: '';
        width: 5px;
        height: 5px;
        display: inline-block;
        background-color: $light;
        border-radius: 5px;
        margin-bottom: 3px;
        margin-right: 10px;
      }
    }
}
