// Nested form elements
//

form {
  label {
    color: $primary-dark;
    display: inline-block;
    margin-bottom: 5px;
  }
}

// Form input
//

.input {
  width: 100%;
  border-width: 0;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include make-transition-all();
  @include make-input-scales();
  @include make-input-styles();
}

// Input group
//

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

// Input icon
//

.input-icon {
  position: relative;
  width: 100%;
  display: inline-block;

  & > .input {
    padding-left: 39px;
  }

  i {
    position: absolute;
    top: 0;
    left: 0;
    color: $gray-light;
    @include make-transition-all();
  }
}

// Input checkbox
//

.input-checkbox {
  position: relative;
  display: inline-block;
  @include make-checkbox-scales();

  input {
    position: absolute;
    opacity: 0;
    padding: 0;
    z-index: -1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input:checked {
    &~.input-checkbox--indicator {
      box-shadow: inset 0 0 0 15px $primary;
      .input-checkbox--icon {
        opacity: 100;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }
}

.input-checkbox--indicator {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background-color: $light;
  box-shadow: inset 0 0 0 2px $gray-light;
  transition-duration: .5s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.input-checkbox--icon {
  fill: $light;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0,.89,.44,1);
  transition-timing-function: cubic-bezier(0,.89,.44,1);
  -webkit-transform: scale(0);
  transform: scale(0);
}

// Form errors
//

.form-errors {
    width: 100%;
    margin-bottom: 20px;
    & > span {
      display: block;
      &:before {
        content: '';
        width: 5px;
        height: 5px;
        display: inline-block;
        background-color: $light;
        border-radius: 5px;
        margin-bottom: 3px;
        margin-right: 10px;
      }
    }
}
