// Heading
//

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  line-height: $line-height-base;
}

// Font scaole
.font-size-xxxxl {
  font-size: $font-size-xxxxl;
}
.font-size-xxxl {
  font-size: $font-size-xxxl;
}
.font-size-xxl {
  font-size: $font-size-xxl;
}
.font-size-xl {
  font-size: $font-size-xl;
}
.font-size-l {
  font-size: $font-size-l;
}
.font-size-m {
  font-size: $font-size-m;
}
.font-size-s {
  font-size: $font-size-s;
}
.font-size-xs {
  font-size: $font-size-xs;
}
.font-size-xxs {
  font-size: $font-size-xxs;
}

// Font weight
//

.font-weight-300 { font-weight: 300; }
.font-weight-400 { font-weight: 400; }
.font-weight-500 { font-weight: 500; }
.font-weight-600 { font-weight: 600; }

// Alignment classes
//

.text-align-left { text-align: left; }
.text-align-center { text-align: center; }
.text-align-right { text-align: right; }

.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }
