// Make button scales
//

@mixin make-button-scales() {
  &-block {
    width: 100%;
  }
  &-s {
    min-width: 30px;
    padding: 0 15px;
    line-height: 30px;
    border-radius: 3px;
  }
  &-m {
    min-width: 40px;
    padding: 0 20px;
    line-height: 40px;
    border-radius: 4px;
  }
  &-l {
    min-width: 50px;
    padding: 0 25px;
    line-height: 50px;
    border-radius: 4px;
  }
  &-xl {
    min-width: 60px;
    padding: 0 30px;
    line-height: 60px;
    border-radius: 4px;
  }
}

// Make button styles
//

@mixin make-button-styles {
  &--flat {
    color: $light;
  }
  &--inverted {
    background-color: transparent;
    color: $gray-dark;
    box-shadow: inset 0 0 0 1px $gray-light;
  }
  &--flat:hover, &--inverted:hover {
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  }
}
